In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('czech-financial-dataset/data/loan.csv')
df.head()

   loan_id  account_id    date  amount  duration  payments status
0     5314        1787  930705   96396        12    8033.0      B
1     5316        1801  930711  165960        36    4610.0      A
2     6863        9188  930728  127080        60    2118.0      A
3     5325        1843  930803  105804        36    2939.0      A
4     7240       11013  930906  274740        60    4579.0      A

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682 entries, 0 to 681
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   loan_id     682 non-null    int64
 1   account_id  682 non-null    int64
 2   date        682 non-null    int64
 3   amount      682 non-null    int64
 4   duration    682 non-null    int64
 5   payments    682 non-null    float64
 6   status      682 non-null    object
dtypes: float64(1), int64(5), object(1)
memory usage: 37.4+ KB

In [24]:
df['account_id'].unique()

array([ 1787,  1801,  9188,  1843, 11013,  8261, 11265,  5428, 10973,
        4894, 10364,  5270,  6034,  6701,  2705,  7123, 10320,  9034,
        9236, 10266,     2,  7401,  2486,  1071,  8475, 11111,  1603,
        1166,  8073, 10940,  5313, 11135,  2694,  7753,  7445,  7485,
        8330,  6555, 10079,  5385,  5891, 10131,  8321,  5256,   813,
        2933,  8173,  9833,  7769,  6473,  7454,  6930,   173,  8051,
       10439,  9337,  4576,  8027,  5927,  6273, 11065,  8558,  5442,
        1811,  7844,  4260,  3354,  2762,  6051,  9265,  5228,  2824,
         426,  4937,   790, 10911,  8129,  2176,  9093,  5215,  9403,
        9104,  5120,  8519, 10788,  8260,  4259, 10105,  3050,  3674,
        5481,  9307,  4427,  3834,  7824,  8566,  7965,  5952,  6040,
        4448,  8982,  6363,  1012,  2167,  5622,  5991,   290,  6148,
        7133,  8041,  1106,  1527,  1978,  4337,  2345, 10451,  6425,
        6226,   344,  2962, 10738,  3747,  7523,  3166,  6118,   816,
        9640,  6715,  2245,  7857,  2419,  7819,  3678,  6472,  4413,
        9750,  6353,   817,  4414,  6030, 11021,  8564,  9869,  5700,
        1247,  8316,  3064,  7607,  2228,  2361,  3752,  4079,  8625,
        9591,  9828,  1993,  5628,  1762,   347,  9472,   960,  1256,
         854,  3629,  8377,  7190,  8159,  9656,  8489, 10630, 10440,
        4774,  5650,  5632,  3489,  4580,  4727,  4825,  8776,  1375,
        8492,  9493,   915,  9897, 10942,  7861,  8405, 10093, 10663,
       11349,  6738,  4423,  7546,  2343,  6609,  2218,  9627,  9731,
         789,  4081,  5774, 11042,  6924,  7765,  2227,  9583,  7606,
        5742,  1011,  8899,  7562,  7815,  4503,  4907,  5126,  2496,
       11138,  4995,  3804,  5066,  6400, 10884,  8092,  5735,  3112,
        2912,  4852,  8327,  1772, 10728,  9017,  5574,   808,  2456,
        3037,  1967,  5213,  7418,  2352,    19,    67,  5794,  8411,
        4462,  7614,  3608,   940,  8547,  5422,  9645,  9006,  2572,
        1766,  2322,  1698, 10001,  8680,  8127,  5541,  2268,  3679,
        5033,  6985,  9790,   846,  1886,  2580,  9928,  4994,  7184,
        6358, 11359,  5593,  6289, 11054,   544,  4851,  1583,  4650,
        3084,  2143,  9199,  2994,  6397, 10762,  7136,  8533,  7926,
       10019,  4476,  9814,  2236, 10436, 11186,  2106,  3230,  9024,
        4585,  1862,  8039,  6688,   501,  7795,  9422,  2062,  4447,
        3754,   132,  5001,  6434,  5263,  4948,  3115,  9548, 10297,
        7859,  9510,  1250,  2153,  4981,  3021, 10520, 10411,  9030,
        3189,  8972, 10963, 11362,  4473, 10365,  5724,  5591,  2018,
        5358,  9242,  7637,  8931, 11271,  5269,   825,  2246,  6158,
        3353,  9494,  5072,  7262,  6950, 10215,  2247,  4803,  9052,
        1244, 10351, 11069,  4969,  5317,  3455, 10807,  9504,  9235,
        4715,  4681,  2134,  6792,  4618,  4863,  4033,  8688,  7674,
       10049,  4361,  3967,  4415,   675,  1252, 10954,   176,  9225,
        2051, 11079,  5181,   472,  9377,  6856,  3229,  3859,  9031,
       10233,   314,  2754,  5118,  6510,  9263,  8094,  2350,  4999,
        2872,  6649,  4293,  4660, 10361,  1447,  9138,  8320,  9353,
       11096,  3418,  6265,  2516,  1093,  7957,  6461,  7045,  9677,
        6440,  4626,  9241,  8772, 10202, 10063,  9633,  1270,  6678,
         442,   319,   525,  9513,  1528,  8381, 10068,  8742,  6138,
        4099,  2116,  2334,  4320,    97,  9859,  8169,  8114,  4127,
        9730,  7565,   718,  5362,  2165, 10905,  6592,  9424,  2064,
        3249,  4190,  1888,  4949,  7907,  3637,  5395,  1329,  7966,
        1242,  4746,   110,  8026,  2080,  5837,  1374,  3664,  3273,
       10065,  6699,  8268,  6083,  2753,  5445, 10679,  5477, 11141,
        1906,   378,  3942,  7890,  8085,  7542,  3448,  7894,  6097,
       11027, 11231,  8158,  2187,  4725,  3711,  9631,  7052,  2335,
        4784,  5267,  1580,   666,  7176, 10857,  2986,   103,  7424,
        3329,    25,  4342, 10789,  8505, 11244,  7594,  4631,  7745,
        6902, 10711,  6686,   339,  2445,  4794,  5196,  4052,  5602,
        6157, 10280, 10478,  4550, 10022,  3953,  6075,  7632, 10134,
        1819,  4616,  7240,  1407,  8038,  1480,  2936, 10345, 10445,
        8926,  2035,  1638,  7636, 10148,  5133,  1869,  9201,  7997,
        9455,  7082,  4456,  3875,   785,  2545,  8523, 10493,   873,
       10650,  7713,  9179,  9153, 10404,  2142,  9167,  3906,  3390,
        7274,   440,  9560,  3907,  5164,  8225,  5305,  9646,  1004,
        7156,  1083,  2982,  5572,  6062,  7437,    38,  7990, 10774,
        2720,  6495,  8784,  9227,  4533, 10652,  7733,  3143,  6453,
        7181,   938,  2622,  7049,  3562,  1776,  6061,  7721, 10812,
        3460,   303,  2279,  4116,  3005,  8639,  8919,  9159,  7099,
       10915,  2728,  3161,  5944, 10644,  4144,  5912,  9491,  3403,
         993, 10645,  2988, 10799,  7559,  3916,  6706,   330,   226,
        2000,  5180, 11328,  2055,  8713,  4858, 10005,  4467, 10613,
        1718,  2910,  2699,  1389, 10257,  5283,   349,  1876,  9673,
        9037,  3862,  3137, 10243,  3556,  1068, 11327,  1808,  2073,
        9433,  2413,  1498,  6505,  1318,  9208,    37,  1656,  4354,
        4268,  2725,  9140,  7180,  5698, 11317,   309,  3293,  9156,
        2262,   276,   105,  1284,  6922,  1928,  8645], dtype=int64)

In [25]:
df = pd.read_csv('czech-financial-dataset/data/disp.csv')
df.head()

   disp_id  client_id  account_id       type
0        1          1           1      OWNER
1        2          2           2      OWNER
2        3          3           2  DISPONENT
3        4          4           3      OWNER
4        5          5           3  DISPONENT

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5369 entries, 0 to 5368
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   disp_id     5369 non-null   int64
 1   client_id   5369 non-null   int64
 2   account_id  5369 non-null   int64
 3   type        5369 non-null   object
dtypes: int64(3), object(1)
memory usage: 167.9+ KB

In [27]:
df.isna().sum()

disp_id       0
client_id     0
account_id    0
type          0
dtype: int64

In [28]:
for column in df.columns:
    print(column)
    print(df[column].unique())

disp_id
[    1     2     3 ... 13660 13663 13690]
client_id
[    1     2     3 ... 13968 13971 13998]
account_id
[    1     2     3 ... 11359 11362 11382]
type
['OWNER' 'DISPONENT']

Our "13998" clients are using "11382" account with the total of two types: owner or disponent

-meaning =  client_id will be use as a base column

In [29]:
#changing object column into numerical values

mapping = {'OWNER': 1, 'DISPONENT': 0}
df['AccStat'] = df['type'].replace(mapping)

In [30]:
df.head()

   disp_id  client_id  account_id       type  AccStat
0        1          1           1      OWNER        1
1        2          2           2      OWNER        1
2        3          3           2  DISPONENT        0
3        4          4           3      OWNER        1
4        5          5           3  DISPONENT        0

In [49]:
df = pd.read_csv('czech-financial-dataset/data/trans.csv')
df.head()

C:\Users\hazir\AppData\Local\Temp\ipykernel_11744\4025008582.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('czech-financial-dataset/data/trans.csv')

,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account
0,695247,2378,930101,PRIJEM,VKLAD,700.0,700.0,NaN,NaN,NaN
1,171812,576,930101,PRIJEM,VKLAD,900.0,900.0,NaN,NaN,NaN
2,207264,704,930101,PRIJEM,VKLAD,1000.0,1000.0,NaN,NaN,NaN
3,1117247,3818,930101,PRIJEM,VKLAD,600.0,600.0,NaN,NaN,NaN
4,579373,1972,930102,PRIJEM,VKLAD,400.0,400.0,NaN,NaN,NaN

In [50]:
#drop columns
drop_cols = [
    'k_symbol',
    'bank',
    'account'
]
df = df.drop(drop_cols, axis=1)

#remove missing values
df.dropna(subset=['operation'], inplace=True)

#rename columns
df = df.rename(columns={'type': 'TransType', 'operation': 'TransOp','date':'TransDate'})

#Change the czech terms into english
mapping = {'PRIJEM':'INCOME', 'VYDAJ':'EXPENSE', 'VYBER':'WITHDRAWAL'}
mapping2 = {'VKLAD': 'depositing money', 'PREVOD Z UCTU':'transfer from account', 'VYBER':'withdrawing money', 
            'PREVOD NA UCET':'transfer to account','VYBER KARTOU':'withdrawing by card'}
df['TransType'] = df['TransType'].replace(mapping)
df['TransOp'] = df['TransOp'].replace(mapping2)

#Changing the date column into DateTime Object
df['TransDate'] = pd.to_datetime(df['TransDate'], format='%y%m%d')

In [51]:
df.head()

,trans_id,account_id,TransDate,TransType,TransOp,amount,balance
0,695247,2378,1993-01-01,INCOME,depositing money,700.0,700.0
1,171812,576,1993-01-01,INCOME,depositing money,900.0,900.0
2,207264,704,1993-01-01,INCOME,depositing money,1000.0,1000.0
3,1117247,3818,1993-01-01,INCOME,depositing money,600.0,600.0
4,579373,1972,1993-01-02,INCOME,depositing money,400.0,400.0

In [52]:
df['TransType'].unique()

array(['INCOME', 'EXPENSE', 'WITHDRAWAL'], dtype=object)

In [53]:
data = []
for account in df['account_id'].unique():
    x = df[df['account_id'] == account]
    income = x[x['TransType'] == 'INCOME']['amount'].sum()
    expense = x[x['TransType'] == 'EXPENSE']['amount'].sum()
    withdraw = x[x['TransType'] == 'WITHDRAWAL']['amount'].sum()
    d = {'AccId': account, 'IncomeSum': income , 'ExpenseSum': expense, 'WithdrawSum': withdraw}
    data.append(d)

df = pd.DataFrame(data=data)
df.head()

   AccId  IncomeSum  ExpenseSum  WithdrawSum
0   2378  2690516.0   2433574.0     177736.0
1    576   447804.0    420034.2          0.0
2    704  1367112.0   1296604.2          0.0
3   3818  1394648.0   1345498.2          0.0
4   1972   381856.0    364406.2          0.0

KeyboardInterrupt: